*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 1120px;
    min-height: 1500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

header nav img{
    width: 160px;
    height: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
header nav ul{
    list-style: none;
    display: flex;
    width: 600px ;
    height: 23px;
    margin-top: 15px;
    justify-content: space-between;

}
nav ul{
    gap: 13px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    opacity: 50%;
    font-size: 20px;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}



nav a:hover{
    color: blue;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.description .headertext{
     width: 400px;
     height: 112px;
     margin-top: 105px;
}

.description .headertext h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.description .headertext p{
    font-size: 18px;
    opacity: 60%;
}
.description .headertext button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(116, 116, 243);
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.description .illustration img{
     width: 500px;
     height: 430px;
     margin-right: -20px;
}

.ourservice{
    padding: 30px;
    margin-top: 25px ;
    width: 100%;
}
 .textser{
    width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}
.textser h3{
    font-size: 25px; 
    margin-bottom: 10px;
}
.textser .line{
    height: 3px;
    width: 53px;
    margin-bottom: 5px;
    margin-top: 3px;
    background-color: rgb(88, 87, 87);
}
.ourservice .textser p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}

.ourservice .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;

}
.cards div{
    width: 300px;
    border-radius: 2px;
    box-sizing: 2px;
    box-shadow: 2px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 22px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}
.ourservice img{
    width: 120px;
     margin-left: -14px; 
}
.ourservice h3{
    padding: 5px;
    
}
.ourservice p{
    padding: 5px;
    line-height: 26px; 
}

.ourservice button{
    margin-top: 55px;
    padding: 11px 45px;
    border-radius: 20px;
    background: none;
    border-color: rgb(109, 109, 242);
    color: rgb(18, 18, 240);
    font-size: 14px;
    margin-left: 445px;
    cursor: pointer;
}

.landing{
    margin-top: 40px;
    padding: 30px;
    display: flex;
    gap:130px
}

.landing img{
    width: 530px;
    height: 370px;
}
.landing .health{
     width: 330px;
     margin-top: 50px;
     line-height: 27px;
}
.landing .health h3{
    font-size: 33px;
    line-height: 35px;
}
.landing .health .underline{
    width: 40px;
    height: 2px;
    background-color: black;
    margin-bottom: 17px;
    margin-top: 17px;
    opacity: 70%;
}
.landing .health p{
    opacity: 70%;
    margin-bottom: 27px;
}

.landing .health button{
    padding: 10px 40px;
    border-radius: 20px;
    background: none;
    color: blue;
    border-color: blue;
    font-size: 14px;
    cursor: pointer;
}
.customer{
    width: 1000px;
    height: 390px;
    background-color: rgba(90, 152, 242, 1);
    margin: 30px;
    border-radius: 24px;
}

.customer img{
    width: 200px;
    height: 190px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 60px;
    margin-bottom: 43px;
    margin-top: -30px;

}
.customer .saying{
    font-size: 27px;
    color: rgb(254, 253, 251);
    text-align: center;
    padding: 26px;
    margin-top: 30px;
    
    
}
.customer .underline{
    height: 2px;
    width: 50px;
    background-color: white;
    margin:20px auto;
}
.customer .middle .pic{
   display: flex;
   justify-content: space-between;
   gap: 30px;

}
.customer .middle .pic h4{
    margin-top: 35px;
    font-size: 14px;
    color: white;
    opacity: 90%;
    font-weight:3px ;
    line-height: 20px;

}
.customer .middle .pic h5{
    font-size: 14px;
    color: white;
    opacity: 70%;
    font-weight:3px ;
    line-height: 19px;

}
.customer .middle{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.customer .middle p{
    width: 400px;
    line-height: 24px;
    color: white;
    margin-right: 23px;
    margin-top: 10px;

}

.artical{
    margin-top: 100px;
    padding: 30px;
    width: 1000px;

}
.artical h3{
    text-align: center;
    font-weight: 20px;
    font-size: 30px;
    align-items: center;
}
.artical .underline{
      width: 50px;
      height: 3px;
      background-color: black;
      margin: 30px auto;
}
.artical .cardss{

    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;

}

.artical .card{
    width: 300px;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
    cursor: pointer;

}
.card img{
    height: 250px;  
}
.card h4{
    font-size: 22px;
    margin: 14px;
}
.card p{
    font-size: 17px;
    line-height:22px;
    margin: 14px;
}
.card .okk{
    color: rgb(49, 49, 236);
    margin-bottom: 19px;
}

.artical button{
    margin-top: 66px;
    margin-left: 430px;
     padding: 14px 59px;
     font-size: 19px;
     border-radius: 50px;
     background: none;
     border-color: rgb(107, 107, 240);
     color: rgb(39, 39, 241);
     cursor: pointer;
}

.footerr{
    width: 1000px;
    height: 400px;
    background-color: rgba(90, 152, 242, 1);
    margin: 30px ;
    padding: 58px;
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 22px;


}
/* .footerr {
  background: linear-gradient(90deg, #67C3F3 0%, #5A98F2 100%);
  border-radius: 24px;
  padding: 60px 80px;
  
  flex-wrap: wrap;
  color: white;
  font-family: 'Poppins', sans-serif;
} */

.footerr .Trafalgar {
  flex: 1;
  min-width: 400px;
  max-width: 350px;
  /* margin-right: 30px; */
}

.footerr .Trafalgar img {
  width: 180px;
  height: 80px;
}

.footerr .Trafalgar p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffffcc;
  margin-bottom: 10px;
}

/* Footer Columns */
.footerr .company,
.footerr .Region,
.footerr .help {

    margin-top: 39px ;
  flex: 1;
  min-width: 150px;
}

.footerr h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
}

.footerr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerr li {
  font-size: 17px;
  color: #ffffffcc;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerr li:hover {
  color: #fff;
}


@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 90%;
    padding: 10px;
  }

  header nav {
    flex-direction: column;
    align-items: center;
  }

  header nav ul {
    width: 100%;
    justify-content: center;
    gap: 25px;
  }

  .description {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description .illustration img {
    width: 80%;
    height: auto;
  }

  .ourservice .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .landing {
    flex-direction: column;
    text-align: center;
  }

  .landing img {
    width: 80%;
    height: auto;
  }

  .footerr {
    flex-wrap: wrap;
    height: auto;
    gap: 40px;
    padding: 40px 30px;
  }
}


@media (max-width: 767px) {
  .menu-icon {
    display: block;
  }

  .ull {
    display: none; 
    flex-direction: column;
    gap: 15px;
    position: absolute; 
    top: 50px; 
  }

  .ull.show {
    display: flex; 
  }

  .ull li a {
    font-size: 18px;
    color: black;
  }

  header nav {
    position: relative;
  }
}
